// http://meyerweb.com/eric/tools/css/reset/
// v2.0 | 20110126
// License: none (public domain)

@mixin meyer-reset {
  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }

  // HTML5 display-role reset for older browsers
  article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol, ul {
    list-style: none;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote {
    &:before, &:after {
      content: "";
      content: none;
    }
  }
  q {
    &:before, &:after {
      content: "";
      content: none;
    }
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}

@include meyer-reset;

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,100&subset=latin,vietnamese);
@import "bourbon", "neat";

$sans-serif: 'Roboto', sans-serif;
$red-dark-color: #991D1B;
$red-light-color: #CC342D;

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: $sans-serif;
  font-size: 16px;
  line-height: 180%;
}

a {
  text-decoration: none;
}

header {
  border-bottom: solid 2px #eee;
  padding: 10px;
}

nav {
  text-align: center;
}

.fixed {
  position: fixed;
  width: 100%;
  background: #fff;
}

.logo {
  text-align: center;
  img {
    width: 200px;
    height: 60px;
  }
}

.button {
  border-radius: 4px;
  background: $red-light-color;
  color: #fff;
  transition: background .2s ease-in-out;
}

.request-invite {
  padding: 14px 28px;
  text-transform: uppercase;
  &:hover {
    background: $red-dark-color;
  }
}

.big {
  padding: 24px 48px;
}

.sign-up {
  @include outer-container; 
  text-align: center;
  padding: 60px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix {
  clear: both;
}

h2 {
  font-size: 2.4rem;
  font-weight: 100;
  margin-bottom: 3rem;
  color: #333;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: black;

}

section.intro, section.goal, section.why {
  @include outer-container; 
  padding: 100px 0 50px 0;
  div.text {
    @include span-columns(6);
    h2 {
      padding-top: 6rem;
    }
    p {
      font-size: 1.5rem;
      line-height: 180%;
      font-weight: 100;
      margin-bottom: 3rem;
      color: #555;
      -webkit-text-stroke-width: 0.5px;
      -webkit-text-stroke-color: #555;
    }
  }
  div.shape-girl {
    @include span-columns(5);
    display: block;
    height: 480px;
    width: 480px;
    background-image: url(img/girl@2x.png);
    background-size: 560px 560px;
  }
  div.shape-girl-connect {
    @include span-columns(5);
    display: block;
    height: 355px;
    width: 480px;
    background-image: url(img/girl-connect@2x.png);
    background-size: 459px 355px;
  }
  div.shape-girl-share {
    @include span-columns(5);
    display: block;
    height: 480px;
    width: 480px;
    background-image: url(img/girl-share@2x.png);
    background-size: 480px 480px;
  }
}

section.goal {
  div.text {
    padding-left: 40px;
  }
}

section.why {
  div.text {
    padding-right: 70px;
  }
}

section.goal, section.why {
  padding-top: 40px;
  div.text {
    h2 {
      padding-top: 2rem;
    }
  }
}
